.blog {
  padding: 160px 0;

  &__respond {
    margin: 55px auto;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 30px;
  }

  &__article {
    padding: 32px 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
  }

  &__text {
    height: 210px;
    line-height: 1.8;
    margin-bottom: 39px;
    // overflow: hidden;
  }

  &__name {
    margin: 20px auto 0;
    line-height: 1.8;
  }

  &__email {
    line-height: 1.8;
  }

}
