// h1 {
//   @extend %h1;
// }

h2 {
  font-family: "Helyard-Display", sans-serif;
  font-size: 48px;
  line-height: 1.25;
  color: $colorHeading;
  text-align: center;
  margin: 0;
}

h3 {
  font-family: "Helyard-Display", sans-serif;
  font-size: 22px;
  line-height: 1.25;
  color: $colorHeading;
}

p {
  font-family: "Helyard", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $colorText;
}
