@import "utils";
@import "fonts";
@import "typography";
@import "sections/header.scss";
@import "sections/home.scss";
@import "sections/products.scss";
@import "sections/company.scss";
@import "blocks/button.scss";
@import "blocks/nav.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: "Helyard", sans-serif;
  font-size: 18px;
  color: $colorText;
}

body {
  background: $c-gray;
  margin: 0;
  background-color: $colorBG;
}

a {
  text-decoration: none;
  color: $colorText;
  @include hover (color, $colorHover);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%,
  #f2f9ff 100%);
  z-index: 0;
}

.container {
  margin: 0 200px;
}
